.img_tekst_overlay {
  position: relative;
  display: inline-block;
}

.img_tekst_overlay img {
  display: block;
  width: 100%;
  height: auto;
  margin: 0 auto;
  max-width: 100%;
}

.tekst_overlay {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.tekst_overlay h2 {
  font-size: 200%;
  margin-bottom: -10px;
}

.tekst_overlay p {
  margin-top: 0;
  font-size: 70%;
  line-height: 0.5;
  color: #141d71;
}

@media (min-width: 768px) {
  .img_tekst_overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    max-width: 60%;
    margin: 0 auto;
    margin-top: -200px;
  }

  .tekst_overlay {
    font-size: 170%;
    margin-top: 2%;
  }
}
